<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="<%= description %>">
    <title><%= title %></title>

    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:image" content="https://runs-on.com/assets/landing/runs-on-social.png"/>
    <meta property="og:url" content="https://runs-on.com"/>
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="runs-on.com"/>
    <meta property="og:description" content="<%= description %>"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:image" content="https://runs-on.com/assets/landing/runs-on-social.png" />
    <meta name="twitter:url" content="https://runs-on.com" />
    <meta name="twitter:description" content="<%= description %>" />

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <style>
      body {
        grid-template-columns: 1fr min(75rem, 90%) 1fr;
      }
    </style>
    <script src="https://cdn.usefathom.com/script.js" data-site="LQSGIDCZ" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <% site.glob("./*.html.*").sort_by{|page| page.data.position || 10_000}.each do |page| %>
            <li><%= link_to_page page %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <h1 id="title"><%= title %></h1>
      <%= yield %>
    </main>
    <footer>
      <%= paginate(sorted_posts, current_page) %>

      <h2>Be the first to try the beta</h2>
      <form action="https://runs-on.lemonsqueezy.com/email-subscribe/external" method="post">
        <div>
            <input type="email" name="email" id="email" placeholder="john@doe.com" required style="display:inline-block;width:300px">
            <button type="submit" style="display:inline-block">Notify me</button>
        </div>
      </form>
      <p>Made by <a href="https://twitter.com/crohr">@crohr</a></p>
    </footer>
  </body>
</html>
